* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #355cdc;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: bottom;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container-main {
  min-height: 100vh;
}

.playContainer {
  display: grid;
  width: 90vw;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "Player . op op op";
}


.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-play {
  font-size: 2rem;
  border-radius: 10px;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.btn a {
  color: #fff;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

#resetGame {
  margin-top: 100px;
  bottom: 20px;
}



.btn:hover {
  opacity: 0.8;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.card {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 2rem;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 3fr, 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "icon"
    "description";
}

#welcomeText {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

.cardSelect {
  width: fit-content;
}

.cardPlayPage {
  grid-area: Player;
}

.cardSelect img {
  max-width: 200px;
  object-fit: contain;

}


.card-title {
  font-size: 1.2rem;
}

.cardText {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  width: 100%;
}

#playerTitle {
  display: block;
  margin: 5px;
  font-size: 1.5rem;
}

.points {
  float: right;
  margin-right: 1rem;
  font-size: 1.2rem;
}

#opponentTitle0,
#opponentTitle1,
#opponentTitle2 {
  display: block;
  margin: 5px;
  font-size: 1.5rem;
}

#playerSelected:hover {
  transform: scale(1);
}

.cardOpponent {
  transform: scale(0.9);
}

.card:hover {
  transition: 0.2s;
  transform: scale(1.1);
}

.cardBattle {
  transform: scale(1.1);
  transform: translateY(30px);
}

.hide {
  display: none;
}

.defeated {
  display: none;
}

.buttonContainer {
  max-width: min(80%, 400px);
  margin: 50px auto 0px auto;

}

button {
  margin: 20px;
}


@media only screen and (max-width: 1200px) {
  .playContainer {
    display: flex;
    max-width: fit-content;
    margin: auto;
    grid-template-columns: 2fr, 2fr;
    grid-template-areas: "Player op""op op";
  }

  /* .card {
    margin: auto;
  } */

  .textholder {
    margin-top: 10px;
    /* font-size: 0.8rem; */
  }

  body {
    overflow: auto;
  }

  .points {
    display: block;
  }

  .card-title {
    display: block;

  }

  .cardText {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }

  .cardSelect img {
    width: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .cardPlayPage {
    display: block
  }

}

@media only screen and (max-width: 900px) {

  #playerTitle {
    display: block;
    margin: 5px;
    font-size: 1rem;
  }

  #opponentTitle0,
  #opponentTitle1,
  #opponentTitle2 {
    display: block;
    margin: 5px;
    font-size: 1rem;
  }

  #opponentPoints0,
  #opponentPoints1,
  #opponentPoints2 {
    /* display: block; */
    margin: 5px;
    font-size: 0.8rem;
  }

  ;



  .textholder {
    margin: 5px;
    font-size: 0.8rem;
  }

  #playerPoints,
  #playerAttackPower,
  #playerCounterAttackPower {
    margin: 10px;
    font-size: 0.8rem;
    /* padding-top: 5px; */
  }

  .cardText {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .playContainer {
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "Player""op""op""op";
  }

  .card {
    margin: auto;
  }
}